<div class="container">
  <main class="form-signin text-center ">

    <form [formGroup]="form" (submit)="userIn()">
      <h1 class="h3 mb-3 fw-normal">Пожалуйста введите логин и пароль</h1>

      <div class="form-floating mb-3" >
        <input type="text" class="form-control"
               id="floatingLogin" placeholder="Login" formControlName="login">
        <div
          *ngIf="form.get('login').invalid && form.get('login').touched"
          class="validation">
          <small>Поле обезательнно для заполнения</small>
        </div>
      </div>

      <div class="form-floating mb-3" >
        <input type="password" class="form-control"
               id="floatingPassword" placeholder="Password" formControlName="password">
        <div
          *ngIf="form.get('password').invalid && form.get('password').touched"
          class="validation">
          <small *ngIf="form.get('password').errors.required">
            Поле обезательнно для заполнения</small>
          <small *ngIf="form.get('password').errors.minlength"
          >Длина должна быть не менее {{ minLength }}</small>
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary" [disabled]="form.invalid" type="submit">Войти</button>
    </form>

  </main>
</div>

